.trending_h2 {
    margin-right: 1081px;
}
.carousel__container {
    height: 300px;
}
.carousel_img {
  width: 270px;
  height: 250px;    
}
hr {
    max-width: 900px;
} 
.training_elevated {
    background-image: url(" https://cdn.sanity.io/images/qa41whrn/prod/3c5bbc8ff4eb4f9451f8afe99544186beb479d98-2880x1020.jpg?w=2160&q=80&auto=format");
    width: 100%;
    height: 480px;
    background-size: cover;
    position: relative;
    
}
.training_head_button {
    position: absolute;
    top: 175%;
    left: 80px;
    color: #fff;
    margin: 5px;
    line-height: 1.6;
    
}
.training_head_button button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    outline: none;
}
@media screen and (max-width: 539px) {
  .trending_h2 {
    font-size: 15px;
    margin-right: 0px;
    margin-top: 167px;
  }
  .carousel__container {
    height: 280px;
  }
  .carousel_img {
    width: 410px;
    height: 380px;
  }
  .training_elevated {
    width: 100%;
    height: 143px;
  }
  .training_head_button {
    position: absolute;
    top: 89%;
    left: 16px;
    margin: 5px;
    font-size: 8px;
   
  }
  .training_head_button button {
    display: none;
  }
}
